#main {
    max-width: 400px;
    margin: auto;
}

.Husky{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content ;
  cursor: cell;
}
.border {
    border: dotted #fa0077;
    box-shadow: 10px 10px 8px #888888;

}